
cython>=0.23
setuptools>=35.0
numpy==1.13.0
nibabel==2.1.0
h5py==2.7.0
matplotlib==2.0.1
pandas==0.20.1
scipy==0.19.1
SimpleITK

-e git+https://github.com/scikit-image/scikit-image/#egg=scikit-image
-e git+https://github.com/lmkoch/medpy/#egg=medpy

